#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo, .icon {
    width: 80px;
}

nav a {
    text-align: center;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #134611;
}

body {
    font-family: 'rock salt', 'bradley hand', sans-serif;
    font-size: 2em;
    background-color: #FFFAFF;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8em;
    background-color: #445e93;
}

nav a {
    color: #FFFAFF;
    text-decoration: none;
}
nav a:hover {
    color: #445e93;
    background-color: #FFFAFF;
}

.home-title {
    font-size: 2em;
    color: #445e93;
}

h4 {
    color: #445e93;
}

.book, .join {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #445e93;
    color: #FFFAFF;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #FFFAFF;
    color: #445e93;
}

.msg {
    line-height: 1.5em;
    background-color: #445e93;
}

.msg h2 {
    color: #FFFAFF;
}

.msg p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8em;
    color: #FFFAFF;
}

footer {
    background-color: #445e93;
    color: #FFFAFF;
}

footer p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

footer a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFAFF;
    text-decoration: none;
}

footer a:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFAFF;
    text-decoration:underline;
}





